* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #faf4e8;
  --grey: #404040;
  --offwhite: #cccccc;
  --orange: #e64010;
  --shadow: 2px 2px 12px -10px #0000003c, inset 2px 2px 10px -3px #ffffffb9;

  --padding-tb-50: 50px 0px;
  --padding-lr-15: 0px 15px;

  --radius: 8px;
  --transition: 0.3s ease;

  --gap10: 10px;
  --gap20: 20px;
  --gap30: 30px;
  --gap40: 40px;
  --gap50: 50px;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: var(--bg);
}
.container {
  width: min(1280px, 97%);
  margin: auto;
}
.flex {
  display: flex;
}
.f-clmn {
  flex-direction: column;
}
.sb {
  justify-content: space-between;
}
.jc {
  justify-content: center;
}
.ac {
  align-items: center;
}
li {
  list-style: none;
}
i {
  font-size: 20px;
}
span {
  display: inline-block;
}
.hide {
  display: none;
}
.ham {
  display: none;
}
section {
  user-select: none;
  color: #000000;
}
h1 {
  font-size: clamp(3rem, 6vw, 6.25rem);
  line-height: 1.2;
}
h2 {
  font-size: clamp(1.75rem, 3.5vw, 2.8rem);
  line-height: 1.25;
}
h3 {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  line-height: 1.3;
}
h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.8rem);
  line-height: 1.35;
}
p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--grey);
}
img {
  max-width: 100%;
  display: block;
}
button {
  background-color: var(--bg);
  color: #000000;
  font-size: 16px;
  border: unset;
  padding: 10px 20px;
  transition: var(--transition);
  box-shadow: 3px 3px 10px -4px;
  cursor: pointer;
}
button:active {
  transform: scale(0.8);
}

/* HEADER */
header {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  height: 4rem;
  user-select: none;
  z-index: 10;
}
.ham {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  font-weight: 400;
  line-height: 1;
  display: none;
  color: #fff;
}
.close {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
.logo {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  color: #fff;
}
.nav-links {
  gap: var(--gap10);
  background: #00000004;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  height: fit-content;
  padding: 5px;
  transition: var(--transition);
  box-shadow: var(--shadow);
  border: 1px solid #0000000a;
}
.nav-links li {
  border-radius: 30px;
  transition: var(--transition);
}
.nav-links li a {
  font-size: 16px;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 30px;
  transition: var(--transition);
}
.home-link {
  background-color: var(--orange);
  box-shadow: var(--shadow);
}
.home-link a {
  color: #fff;
}
.nav-links li:hover {
  background-color: var(--orange);
  box-shadow: var(--shadow);
}
.nav-links:hover .home-link {
  background-color: transparent;
}
.nav-links:hover .home-link a {
  color: #000;
}
.nav-links li:hover a {
  color: #fff;
}
.nav-links li:active {
  transform: scale(0.8);
}
.nav-right a {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  color: #fff;
  transition: var(--transition);
}
.nav-right a:active {
  transform: scale(0.8);
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.hero-images {
  position: relative;
  height: 100%;
  width: 100%;
}
.hero-img {
  position: absolute;
  inset: 0;
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
  z-index: 1;
  will-change: transform;
}
.hero-img:not(.active) {
  visibility: hidden;
}
.hero-img.active {
  visibility: visible;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-img.active {
  transform: translateY(0);
  z-index: 2;
}
.hero-content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  padding: 0 20px;
  transform: translateY(-50%);
  color: #fff;
  z-index: 5;
}
.hero-content-1 {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  padding: 0 20px;
  transform: translateY(-50%);
  color: #fff;
  gap: var(--gap40);
  z-index: 5;
}
.hero-content-1 h1 {
  text-align: center;
  color: #ffffffd1;
  text-shadow: 1px 1px 10px #0000008a;
}
.hero-content span {
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;
}
#nextBtn {
  cursor: pointer;
  background: transparent;
  color: var(--orange);
  font-size: 16px;
  padding: 0px;
  text-decoration: underline;
}
.hero-content-btm {
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 5;
}

/* SECTION - 2 TRUSTED BRANDS */
.trusted-brands {
  padding: 50px 0px;
  text-align: center;
  height: fit-content;
  display: block;
}
.outter {
  position: relative;
  overflow: hidden;
  width: 80vw;
  margin: auto;
  padding: 0px 30px;
}
.track {
  display: flex;
  gap: 40px;
  width: max-content;
  position: relative;
  will-change: transform;
}
.inner {
  flex-shrink: 0;
}
.inner i {
  margin-right: 5px;
  font-size: 20px;
}
.inner p {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  color: #000;
}
.inner p:nth-child(2),
.inner p:nth-child(4),
.inner p:nth-child(6),
.inner p:nth-child(8) {
  font-weight: 400;
}

/* SECTION - 3 CATEGORIES */
.featured-categories {
  height: fit-content;
  padding: 50px 0px;
  padding-top: 0px;
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.category-card {
  padding: 40px 20px;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #0000001f;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
}
.category-card:hover {
  opacity: 0.9;
  transform: scale(0.98);
}
.Cat-1 {
  background-image: url(Images/Categories-Sec/new-arrivals.webp);
  background-position: bottom;
  background-size: cover;
}
.Cat-2 {
  background-image: url(Images/Categories-Sec/mens.webp);
  background-position: center;
  background-size: cover;
}
.Cat-3 {
  background-image: url(Images/Categories-Sec/women.webp);
  background-position: top;
  background-size: cover;
}
.Cat-4 {
  background-image: url(Images/Categories-Sec/streetwear.webp);
  background-position: center;
  background-size: cover;
}
.Cat-5 {
  background-image: url(Images/Categories-Sec/accessories.webp);
  background-position: center;
  background-size: cover;
}
.Cat-6 {
  background-image: url(Images/Categories-Sec/sale.webp);
  background-position: top;
  background-size: cover;
}

/* SECTION - 4 TRENDING PRODUCTS */
.trending-products {
  display: block;
  padding: 50px 0px;
  text-align: center;
  position: relative;
}
.trending-products h2 {
  margin-bottom: 50px;
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.big {
  background-image: url(Images/Trending-Sec/trend-1.webp);
  background-size: cover;
  background-position: center;
  min-height: 420px;
}
.right-column {
  display: grid;
  gap: 10px;
}
.product-card {
  color: #fff;
  padding: 15px;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  transition: var(--transition);
  cursor: pointer;
}
.product-card h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.8rem);
}
.small1 {
  background-image: url(Images/Trending-Sec/trend-2.webp);
  background-size: cover;
  background-position: center;
}
.small2 {
  background-image: url(Images/Trending-Sec/trend-3.webp);
  background-size: cover;
  background-position: center;
}
.product-content {
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}
.product-content p {
  color: #fff;
  font-weight: 400;
}
.product-card:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

/* SECTION - 6 NEW ARRIVALS */
.new-arrivals {
  padding: 50px 0px;
  text-align: center;
}
.new-arrivals h2 {
  margin-bottom: 50px;
}
.arrival-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.new-products {
  position: relative;
  height: 550px;
  overflow: hidden;
  border-radius: 20px;
  text-align: left;
}
.new-products img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.new-title {
  position: absolute;
  top: 66%;
  width: 100%;
  padding: 15px;
  z-index: 2;
}
.new-title h3 {
  font-size: 20px;
  color: #fff;
}
.price-col {
  position: absolute;
  bottom: 16%;
  width: 100%;
  padding: 0 15px;
  color: #fff;
  z-index: 2;
}
.price-col h4 {
  font-size: 35px;
}
.price-col p {
  color: var(--offwhite);
}
.new-products > p {
  position: absolute;
  bottom: 5%;
  padding: 0 15px;
  color: var(--offwhite);
  font-size: 13px;
  z-index: 2;
}

/* SECTION - 8 TESTIMONIALS */
.customers-testimonials {
  padding: 50px 0px;
  text-align: center;
}
.customers-testimonials h2 {
  margin-bottom: 50px;
}
.test-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.box {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  transition: 0.3s ease;
  text-align: left;
}
.box:hover {
  transform: translateY(-5px);
}
.stars {
  color: goldenrod;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 2px;
}
.box p {
  color: var(--offwhite);
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.user {
  gap: 10px;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.user span {
  font-weight: 500;
}

/* SECTION - 9 INSTA / GALLERY FEED */
.insta-galleryFeed {
  display: block;
  padding: 50px 0px;
  text-align: center;
}
.insta-galleryFeed h2 {
  margin-bottom: 50px;
}
.gallery {
  overflow: hidden;
  width: 100%;
}
.gallery-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}
.gallery:hover .gallery-track {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* FOOTER */
footer {
  padding: 50px 0px;
  padding-bottom: 10px;
}
.feet-row {
  align-items: flex-start;
}
.left-feet {
  width: 30%;
  text-align: left;
  gap: var(--gap20);
}
.left-feet .logo {
  width: 100%;
  display: inline-block;
  text-align: left;
  color: #000;
}
.left-feet p {
  color: #686868;
}
.center-feet {
  width: 30%;
  text-align: left;
  gap: var(--gap20);
  align-items: center;
}
.feet-links li a {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
  color: #686868;
}
.feet-links li a:hover {
  color: blue;
}
.right-feet {
  width: 30%;
  text-align: right;
  align-items: end;
  gap: var(--gap20);
}
.social-links {
  gap: var(--gap20);
  color: #686868;
}
.social-links svg {
  transition: var(--transition);
  cursor: pointer;
}
.social-links svg:hover {
  color: blue;
  transform: scale(1.1);
  transition: var(--transition);
}
.social-links svg:active {
  transform: scale(0.8);
}
.copyright-notice {
  width: 100%;
  margin-top: 30px;
  padding: 20px 0px;
  border-top: 1px solid #686868;
}
.notice-row {
  width: 100%;
}
.notice-row p {
  color: #000;
}
.guri {
  color: blue !important;
  text-decoration: underline;
}
.guri:hover {
  color: blue !important;
  text-decoration: underline;
}

/* Small Mobile */
@media (max-width: 480px) {
  /* HERO */

  .hero-content-1 {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    transform: translateY(-50%);
    color: #fff;
    gap: var(--gap40);
    z-index: 5;
  }

  /* SECTION - 3 CATEGORIES */
  .categories-grid {
    grid-template-columns: 1fr;
  }

  /* SECTION - 4 TRENDING */
  .product-card {
    color: #fff;
    padding: 15px;
    min-height: 600px;
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 70px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }

  /* SECTION - 8 TESTIMONIALS */
  .arrival-wrapper,
  .test-wrapper {
    grid-template-columns: 1fr;
  }

  /* FO0TER */
  .feet-row {
    flex-direction: column;
    gap: var(--gap30);
  }
  .left-feet,
  .center-feet,
  .right-feet {
    width: 100%;
    align-items: flex-start;
  }
}

/* Large Mobile */
@media (min-width: 481px) and (max-width: 767px) {
  /* HERO */

  .hero-content-1 {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    transform: translateY(-50%);
    color: #fff;
    gap: var(--gap40);
    z-index: 5;
  }

  /* SECTION - 4 TRENDING */
  .product-card {
    color: #fff;
    padding: 15px;
    min-height: 550px;
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 100px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }

  /* SECTION - 3 CATEGORIES */
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* SECTION - 8 TESTIMONIALS */
  .arrival-wrapper,
  .test-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  /* SECTION - 3 CATEGORIES */
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* SECTION - 4 TRENDING */
  .product-card {
    color: #fff;
    padding: 15px;
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 80px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }

  /* SECTION - 8 TESTIMONIALS */
  .arrival-wrapper,
  .test-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1023px) {
  /* Header */

  .navbar {
    text-align: center;
  }

  .nav-links li:hover {
    background-color: unset;
    box-shadow: unset;
  }

  .nav-links li a:hover {
    color: #ffffff;
  }

  .home-link {
    background-color: unset;
    backdrop-filter: unset;
    box-shadow: unset;
  }

  .nav-right a {
    font-weight: 400;
  }

  .ham {
    display: flex;
  }

  .nav-links li a {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    padding: 0;
    color: #fff;
  }

  header {
    background: #000;
    padding: 0 15px;
    height: 3.5rem;
    top: 0;
  }

  .nav-links {
    background: #000;
    position: absolute;
    top: 53px;
    left: 0px;
    border-radius: 0px;
    width: 100%;
    flex-direction: column;
    padding: 40px 0px;
    box-shadow: unset;
    gap: var(--gap40);
    transform: translateY(-150%);
  }

  .home-link a {
    color: #ffffff !important;
  }

  /* SECTION - 1 HERO */

  .hero-content {
    padding: 0 15px;
  }

  /* SECTION - 4 TRENDING PRODUCTS */

  .product-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .small1 {
    background-image: url(Images/Trending-Sec/trend-2-phn.webp);
    background-size: cover;
    background-position: center;
  }

  .product-card:hover {
    opacity: 1;
    transform: scale(1);
  }
}
